{% load static %}

<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {% comment %} css {% endcomment %}
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <link href="{% static 'css/home.css' %}" rel="stylesheet" />
    <link href="{% static 'css/cart.css' %}" rel="stylesheet" />
    <link href="{% static 'css/register.css' %}" rel="stylesheet" />
    <link href="{% static 'css/search.css' %}" rel="stylesheet" />
    <link href="{% static 'css/viewdetail.css' %}" rel="stylesheet" />

    {% comment %} javascript {% endcomment %}
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script type="text/javascript">
      let user = "{{request.user}}";
      function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          const cookies = document.cookie.split(";");
          for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === name + "=") {
              cookieValue = decodeURIComponent(
                cookie.substring(name.length + 1),
              );
              break;
            }
          }
        }
        return cookieValue;
      }
      const csrftoken = getCookie("csrftoken");
    </script>

    {% comment %} {% endcomment %}
    <title>mama-kitchen</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>

  {% comment %}
  ===============================================================================================================
  {% endcomment %}
  <body> 
    
  
    <!-- ======================== Navbar -->
    <nav
      class="navbar navbar-expand-lg navbar-light bg-light border-bottom small fixed-top nav-red"
    >
      <div class="container">
        <!-- ==============navbar brand -->
        <a class="navbar-brand" href="{% url 'home' %}">
          <img src="{% static 'images/logo.png' %}" alt="logo" />
        </a>
       

        <!--================  -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- menu item -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{% url 'home' %}"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">About</a>
            </li>

            <!-- ====================== -->
  
            <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
    Products
  </a>

  <ul class="dropdown-menu">
    {% for category in categories %}
      <li class="dropdown-submenu">
        <a class="dropdown-item {% if active_category == category.slug %}active{% endif %}"
           href="{% url 'category' %}?category={{ category.slug }}">
          {{ category.name }}
        </a>

        {% if category.sub_categories.all %}
          <ul class="sub-list">
            {% for sub in category.sub_categories.all %}
              <li>
                <a class="dropdown-item sub-item {% if active_category == sub.slug %}active{% endif %}"
                   href="{% url 'category' %}?category={{ sub.slug }}">
                  {{ sub.name }}
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</li>



            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="./faq.html">FAQ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#"
                >Contact</a
              >
            </li>
          </ul>

          <div class="ms-auto d-flex align-items-center gap-3">
          {% if not request.user.is_authenticated %}
          <!-- btn dùng thử a để dăng ký và đăng nhập -->
          <div class="me-1 mb-1 mb-lg-0 d-flex flex-column gap-1 flex-md-row">
            <a
              href="{% url 'register' %}"
              class="btn btn-danger btn-sm d-inline-flex justify-content-center align-items-center"
             
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16px"
                height="16px"
                class="me-2"
                viewBox="0 0 640 640"
              >
                <!--!Font Awesome Free v7.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.-->
                <path
                  fill="rgb(255, 255, 255)"
                  d="M285.7 368C384.2 368 464 447.8 464 546.3C464 562.7 450.7 576 434.3 576L77.7 576C61.3 576 48 562.7 48 546.3C48 447.8 127.8 368 226.3 368L285.7 368zM528 144C541.3 144 552 154.7 552 168L552 216L600 216C613.3 216 624 226.7 624 240C624 253.3 613.3 264 600 264L552 264L552 312C552 325.3 541.3 336 528 336C514.7 336 504 325.3 504 312L504 264L456 264C442.7 264 432 253.3 432 240C432 226.7 442.7 216 456 216L504 216L504 168C504 154.7 514.7 144 528 144zM256 312C189.7 312 136 258.3 136 192C136 125.7 189.7 72 256 72C322.3 72 376 125.7 376 192C376 258.3 322.3 312 256 312z"
                />
              </svg>
              Sign-up for Free
            </a>
            <!-- btn login -->
            <a
              href="{% url 'login' %}"
              class="btn btn-warning btn-sm d-inline-flex justify-content-center align-items-center"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16px"
                height="16px"
                class="me-2"
                viewBox="0 0 640 640"
              >
                <!--!Font Awesome Free v7.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.-->
                <path
                  fill="rgb(0, 0, 0)"
                  d="M416 160L480 160C497.7 160 512 174.3 512 192L512 448C512 465.7 497.7 480 480 480L416 480C398.3 480 384 494.3 384 512C384 529.7 398.3 544 416 544L480 544C533 544 576 501 576 448L576 192C576 139 533 96 480 96L416 96C398.3 96 384 110.3 384 128C384 145.7 398.3 160 416 160zM406.6 342.6C419.1 330.1 419.1 309.8 406.6 297.3L278.6 169.3C266.1 156.8 245.8 156.8 233.3 169.3C220.8 181.8 220.8 202.1 233.3 214.6L306.7 288L96 288C78.3 288 64 302.3 64 320C64 337.7 78.3 352 96 352L306.7 352L233.3 425.4C220.8 437.9 220.8 458.2 233.3 470.7C245.8 483.2 266.1 483.2 278.6 470.7L406.6 342.7z"
                />
              </svg>
              Login
            </a>
          </div>
          {% endif %}

          <!-- form search -->
          <form class="d-flex" role="search" method="POST" action="{% url 'search' %}">
            {% csrf_token %}
            <input
              class="form-control form-control-sm me-0"
              type="search"
              placeholder="Search for"
              aria-label="Search"
              name="searched"
            />
            <button class="btn btn-success btn-sm" type="submit">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16px"
                height="16px"
                viewBox="0 0 640 640"
              >
                <!--!Font Awesome Free v7.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.-->
                <path
                  fill="rgb(255, 255, 255)"
                  d="M480 272C480 317.9 465.1 360.3 440 394.7L566.6 521.4C579.1 533.9 579.1 554.2 566.6 566.7C554.1 579.2 533.8 579.2 521.3 566.7L394.7 440C360.3 465.1 317.9 480 272 480C157.1 480 64 386.9 64 272C64 157.1 157.1 64 272 64C386.9 64 480 157.1 480 272zM272 416C351.5 416 416 351.5 416 272C416 192.5 351.5 128 272 128C192.5 128 128 192.5 128 272C128 351.5 192.5 416 272 416z"
                />
              </svg>
            </button>
          </form>

          
          <!-- form User -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex align-items-center flex-row">
            {% if request.user.is_authenticated %}

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
              >
                <span>Hi! {{request.user}}</span>
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">My Profile</a></li>
                <li><a class="dropdown-item" href="#">My Orders</a></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
              </ul>
            </li>
            {% endif %}

            <li class="nav-item form-inline my-2 my-lg-0 ms-1">
              <a class="nav-link cart-wrapper" href="{% url 'cart' %}">
          <img src="{% static 'images/cart.png' %}" alt="">
          <span class="cart-count">{{ cartItems }}</span>
               </a>
            </li>
          </ul>
          </div>
           
        </div>
      </div>
    </nav>

    {% block banner_hero %} {% endblock banner_hero %}
    {% block banner_slider %} {% endblock banner_slider %} 
    {% block banner_slider2 %} {% endblock banner_slider2 %} 
    {% block main_content %} {% endblock main_content %} 
    {% block desserts %} {% endblock desserts %}
    {% block favorite_dish %} {% endblock favorite_dish %}


    {% block cart_content %} {% endblock cart_content %} 
    {% block checkout_content %} {% endblock checkout_content %} 
    {% block checkout2_content %} {% endblock checkout2_content %}
    {% block register %} {% endblock register %}
    {% block login %} {% endblock login %}
    {% block search %} {% endblock search %}

    

  
  <!-- ========== main footer ==== -->

  <footer class="footer footer-red">
    <div class="container">
      <div class="row py-5">
        <!-- block 1 -->
        <div class="col-md-3">
          <div class="brand-icon mb-2">
            <img src="{% static 'images/logo.png' %}" alt="logo" />
          </div>
          <address class="small text-secondary">
            Jayanagar, Bangalore,<br />
            Karnataka, India. <br />
            560011
          </address>
          <p class="small text-secondary">contact@tuhoc.cc</p>
        </div>
        <!-- block 2 -->
        <div class="col-md-2">
          <h6 class="text-dark">Main menu</h6>
          <ul class="list-unstyled small">
            <li>
              <a class="text-decoration-none text-secondary" href=""
                >Link item</a
              >
            </li>
            <li>
              <a class="text-decoration-none text-secondary" href=""
                >Link item</a
              >
            </li>
            <li>
              <a class="text-decoration-none text-secondary" href=""
                >Link item</a
              >
            </li>
            <li>
              <a class="text-decoration-none text-secondary" href=""
                >Link item</a
              >
            </li>
            <li>
              <a class="text-decoration-none text-secondary" href=""
                >Link item</a
              >
            </li>
          </ul>
        </div>
        <!-- block 3 -->
        <div class="col-md-2">
          <h6 class="text-dark">Misc</h6>
          <ul class="list-unstyled small">
            <li>
              <a class="text-decoration-none text-secondary" href=""
                >Link item</a
              >
            </li>
            <li>
              <a class="text-decoration-none text-secondary" href=""
                >Link item</a
              >
            </li>
            <li>
              <a class="text-decoration-none text-secondary" href=""
                >Link item</a
              >
            </li>
            <li>
              <a class="text-decoration-none text-secondary" href=""
                >Link item</a
              >
            </li>
            <li>
              <a class="text-decoration-none text-secondary" href=""
                >Link item</a
              >
            </li>
          </ul>
        </div>

        <div class="col-md-5">
          <h6 class="text-dark">Follow us</h6>
          <div>
            <a
              href="#!"
              class="btn btn-sm px-md-3 btn-primary rounded-pill d-inline-flex align-items-center mb-2"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-facebook me-md-2"
                viewBox="0 0 16 16"
              >
                <path
                  d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"
                ></path>
              </svg>

              <span class="d-md-block d-none">Facebook</span>
            </a>

            <!-- ========= -->

            <a
              href="#!"
              class="btn btn-sm px-md-3 btn-info rounded-pill d-inline-flex align-items-center mb-2"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-twitter me-md-2"
                viewBox="0 0 16 16"
              >
                <path
                  d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"
                ></path>
              </svg>

              <span class="d-md-block d-none">Twitter</span>
            </a>

            <!-- ========= -->

            <a
              href="#!"
              class="btn btn-sm px-md-3 btn-danger rounded-pill d-inline-flex align-items-center mb-2"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-youtube me-md-2"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"
                ></path>
              </svg>

              <span class="d-md-block d-none">Youtube</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- ========== copyright ===== -->
  <div class="copy-right text-bg-light py-4 border-top border-light">
    <div class="container">
      <div class="row text-center text-dark small">
        <p class="m-0 small">© Copyright by Mama Kitchen!</p>
      </div>
    </div>
  </div>

  <script src="" async defer></script>
  {% comment %} javascript {% endcomment %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{%static 'js/cart.js' %}"></script>
  <script src="{%static 'js/home.js' %}"></script>
  </body>
</html>
