{% extends "app/base.html" %}
{% load static %}

{% block cart_content %}

<div class="container my-4">

     <!-- Breadcrumb -->
    <nav aria-label="breadcrumb" class="mb-3">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'home' %}">Trang chủ</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          Giỏ hàng
        </li>
      </ol>
    </nav>

    <h4 class="mb-4 fw-semibold">Giỏ hàng của bạn</h4>

    <div class="table-responsive">
        <table class="table align-middle">
            <thead class="table-light">
                <tr>
                    <th scope="col">Thông tin sản phẩm</th>
                    <th scope="col" class="text-center">Đơn giá</th>
                    <th scope="col" class="text-center">Số lượng</th>
                    <th scope="col" class="text-end">Thành tiền</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <!-- Thông tin sản phẩm -->
                    <td>
                        <div class="cart-item d-flex align-items-center">
                            <img src="{% static 'images/products/noigang.webp' %}" 
                                 class="img-thumbnail me-3" 
                                 >

                            <div>
                                <h6 class="mb-1 fw-semibold">Nồi gang tròn STAUB màu xanh rêu</h6>
                                <small class="text-muted">10cm</small><br>
                                <a href="#" class="text-danger small">Xóa</a>
                            </div>
                        </div>
                    </td>

                    <!-- Đơn giá -->
                    <td class="text-center">
                        <span class="text-decoration-line-through text-muted small">2.950.000 VND</span><br>
                        <span class="fw-semibold text-danger">2.507.500 VND</span>
                    </td>

                    <!-- Số lượng -->
                    <td class="text-center">
                        <input type="number" value="1" min="1" class="form-control quantity-input">
                    </td>

                    <!-- Thành tiền -->
                    <td class="text-end fw-semibold">2.507.500 VND</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Tổng tiền -->
    <div class="d-flex justify-content-end mt-3">
        <div class="text-end">
            <h5 class="fw-semibold">Tổng tiền: <span class="text-success">2.507.500 VND</span></h5>
            <a class="btn btn-warning btn-md mt-2 rounded-1" href="{% url 'checkout' %}">Thanh toán</a>
        </div>
    </div>

    <p class="text-muted mt-3">Không có voucher nào khả dụng.</p>
</div>

{% endblock cart_content %}
